{% extends "base_layout.html" %}
{% load static %}

{% block banner %}
 
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="POST">
                        {% csrf_token %}
                        <input type="text" required name="username" placeholder="Username">
                        <input type="password" required name="password" placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>
                    {% if messages %}
                    {% for message in messages %}
                     <h4 class="{{ message_tags }}">{{ message }}</h4>
                 {% endfor %}
                   {% endif %}
                    <form id="RegForm" method="POST">
                        {% csrf_token %}
                        <input type="text" name="username" required minlenth="3" maxlength="8" placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="text" name="phonenumber" required maxlength="10" placeholder="Phone Number">
                        <input type="password" name="password" required minlenth="8" maxlength="20" placeholder="Password">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock banner %}

{% block form_scripts %}

<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");
    function register() {
        RegForm.style.transform = "translatex(0px)";
        LoginForm.style.transform = "translatex(0px)";
        Indicator.style.transform = "translateX(100px)";

    }
    function login() {
        RegForm.style.transform = "translatex(300px)";
        LoginForm.style.transform = "translatex(300px)";
        Indicator.style.transform = "translate(0px)";

    }
</script>
{% if register %}
 <script>
    register()
 </script>
 {% else %}
 <script>
    login()
 </script>
{% endif %}

{% endblock form_scripts %}
