{% load static %}
{% load row_spliters %}
<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sort</option>
            <option>Sort By Price</option>
            <option>Sort By Popularity</option>
            <option>Sort By Rating</option>
            <option>Sort By Sale</option>
        </select>
    </div>
    {% for product_list_data in product_list_data|row_spliters:4 %}
    <div class="row">
        {% for products in product_list_data %}
        <div class="col-4">
            <a href="{% url "products_details" products.id %}"><img src="{{products.image.url}}"></a>
            <h4>{{products.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$ {{products.price}}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="page-btn">
        {% if product_list_data.has_previous %}
        <a href="?page_request={{product_list_data.previous_page_number }}"><span><<</span></a>
        {% endif %}
        {% for i in product_list_data.paginator.page_range %}
        <a href="?page_request={{i}}"><span>{{i}}</span></a>
        {% endfor %}
        {% if product_list_data.has_next %}
        <a href="?page_request={{product_list_data.next_page_number }}"><span>>></span></a>
        {% endif %}
    </div>
</div>